body {
  font-family: CentralSans;
  background: #4fabd7; }

@font-face {
  font-family: 'CentralSans';
  src: url("/assets/fonts/2BE220_1_0.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/2BE220_1_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/2BE220_1_0.woff") format("woff"), url("/assets/fonts/2BE220_1_0.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 200; }

#instatube-logo {
  width: 280px;
  float: left;
  fill: #ff4f4f;
  margin-right: 40px; }

.framed-video {
  margin: 40px;
  width: 1280px;
  height: 720px; }

.overlay-content {
  box-sizing: border-box;
  width: 100%;
  height: 110px;
  padding: 20px 30px;
  background: rgba(27, 56, 79, 0.85); }

h1 {
  font-size: 36px;
  margin: 0;
  margin-top: -3px;
  color: white; }

h2 {
  font-size: 24px;
  margin: 0;
  color: #458fb2; }
  h2 span {
    color: #bce4f7; }

.ariel-pink {
  background: url("../assets/videos/ariel-pink.jpg");
  background-size: 1280px 720px;
  background-repeat: no-repeat; }

.manipulator {
  background: url("../assets/videos/manipulator.jpg");
  background-size: 1280px 720px;
  background-repeat: no-repeat; }
