body {
  font-family: CentralSans;
  background: #4fabd7;
  margin: 0;
  background: url("../assets/videos/manipulator.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

@font-face {
  font-family: 'CentralSans';
  src: url("/assets/fonts/2BE220_1_0.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/2BE220_1_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/2BE220_1_0.woff") format("woff"), url("/assets/fonts/2BE220_1_0.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 200; }

#instatube-logo {
  float: left;
  fill: #ff4f4f;
  width: 280px;
  margin-right: 40px; }

.overlay-content {
  box-sizing: border-box;
  width: 100%;
  background: rgba(27, 56, 79, 0.85);
  height: 110px;
  padding: 20px 30px; }

h1 {
  margin: 0;
  color: white;
  font-size: 36px;
  margin-top: -3px; }

h2 {
  margin: 0;
  color: #458fb2;
  font-size: 24px; }
  h2 span {
    color: #bce4f7; }
